global
		daemon	
		user haproxy
		group haproxy
		pidfile /var/run/haproxy.pid
		
defaults
		log		global
		stats	enable
		mode	http
		option  httplog
        option  dontlognull
		#option	dontlog-normal
		retries	3
		option	redispatch
		contimeout	4000
		clitimeout	60000
		srvtimeout	30000
		
listen	stats :8080
		mode http
		stats uri /
		stats auth haproxy:topsecret
		
listen	myapp <%=@domain%>:<%=@http_port%>
		balance leastconn
		server	myapp1	<%=@openesb1%>:<%=@httpdefaultport%>	check	maxconn	100
		server	myapp2	<%=@openesb2%>:<%=@httpdefaultport%>	check	maxconn	100