user www-data;
worker_processes 4;
pid /var/run/nginx.pid;

events {
	worker_connections 768;
	# multi_accept on;
}

http {
  upstream haproxy {
	server <%=@domain%>:<%=@http_port%>;
    }
	server{
	    	listen  <%=@https_port%>;
        	ssl                 on;
	        ssl_certificate     /etc/ssl/<%=@domain%>.crt;
        	ssl_certificate_key /etc/ssl/<%=@domain%>.key;
 	
 	location / {
			        proxy_pass http://haproxy;
    			}
	}
}


