DebugEnabled=<%= @debugenabled %>
DebugPort=<%= @debugport %>
PersistenceEnabled=<%= @persistenceenabled %>
ThreadCount=<%= @threadcount %>
EngineExpiryInterval=<%= @engineexpiryinterval %>
WaitingRequestLifeSpan=<%= @waitingrequestlifespan %>
MonitoringEnabled=<%= @monitoringenabled %>
MonitoringVariableEnabled=<%= @monitoringvariableenabled %>
KPIEnabled=<%= @kpienabled %>
TransformEngine=<%= @transformengine %>
ValidationEnabled=<%= @validationenabled %>
<% test = @persistenceenabled
if test.include?("true")
@databasenonxajndiname="DatabaseNonXAJNDIName="+@databasenonxajndiname
@databasexajndiname="DatabaseXAJNDIName="+@databasexajndiname
else
@databasenonxajndiname=""
@databasexajndiname=""
end
%>
<%=@databasenonxajndiname%>
<%=@databasexajndiname%>