Threads=<%= @threads %>

<% test = @environment
if test.include?("db") or test.include?("cluster")
@clusterjndidatabasename="ClusterDatabaseJNDIName="+@clusterjndidatabasename
else
@clusterjndidatabasename=""
end
%>
<%=@clusterjndidatabasename%>