OutboundThreads=<%= @outboundthreads %>
InvokeTimeout=<%= @invoketimeout %>
UsePassiveFTP=<%= @usepassiveftp %>
UseProxy=<%= @useproxy %>
ProxyURL=<%= @proxyurl %>
<% if (@proxyuserid != "") then %>
ProxyUserID=<%= @proxyuserid %>
<% end 
   if (@proxyuserpassword != "") then %>
ProxyUserPassword=<%= @proxyuserpassword %>
<% end %>
ConnectionPoolMinSize=<%= @connectionpoolminsize %>
ConnectionPoolMaxSize=<%= @connectionpoolmaxsize %>
EnableNMProps=<%= @enablenmprops %>
ConnectionMaxIdleTimeout=<%= @connectionmaxidletimeout %>