OutboundThreads=<%= @outboundthreads %>
InboundThreads=<%= @inboundthreads %>
InboundReplyThreads=<%= @inboundreplythreads %>
HttpDefaultPort=<%= @httpdefaultport %>
HttpsDefaultPort=<%= @httpsdefaultport %>
ClientAuthEnabled=<%= @clientauthenabled %>
<% if (@amconfigdirectory != "") then %>
AMConfigDirectory=<%= @amconfigdirectory %>
<% end %>
<% if (@amclasspath != "") then %>
AMClasspath=<%= @amclasspath %>
<% end %>
<% if (@proxytype != "") then %>
ProxyType=<%= @proxytype %>
<% end %>
<% if (@proxyhost != "") then %>
ProxyHost=<%= @proxyhost %>
<% end %>
<% if (@proxyport != "") then %>
ProxyPort=<%= @proxyport %>
<% end %>
<% if (@nonproxyhosts != "") then %>
NonProxyHosts=<%= @nonproxyhosts %>
<% end %>
<% if (@proxyusername != "") then %>
ProxyUserName=<%= @proxyusername %>
<% end %>
<% if (@proxypassword != "") then %>
ProxyPassword=<%= @proxypassword %>
<% end %>
UseJVMProxySettings=<%= @usejvmproxysettings %>
<% if (@validhostnames != "") then %>
ValidHostnames=<%= @validhostnames %>
<% end %>