Threads=<%= @threads %>
<% if ( @defaultredeliveryhandling != "") %>
DefaultRedeliveryHandling=<%= @defaultdeliveryhandling %>
<% end
   if ( @forceconcurrencymode != "") %>
ForceConcurrencyMode=<%= @forceconcurrencymode %>
<% end %>
ForceMaxConcurrentConsumers=<%= @forcemaxconcurrentconsumers %>