#!/bin/sh
### BEGIN INIT INFO
# Provides:          openesb
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Should-Start:      openesb
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
### END INIT INFO
export JAVA_OPTS="$JAVA_OPTS -Djava.rmi.server.hostname=<%=Facter.value('ipaddress_'+@iface)%>" #Openesb

OPENESB="/var/lib/openesb/bin"
PIDFILE="/var/run/openesb.pid"
LOGDIR="/var/lib/openesb/logs"

. /etc/init.d/functions

get_pid() {
    ps aux | grep bootstrap | grep openesb | awk '{print $2}' > $PIDFILE 2>&1
}

d_start() {
    if [ -f $LOGDIR/log.txt ]
    then
	echo 'OpenESB already running' >&2
    else
	daemon $OPENESB/openesb.sh > $LOGDIR/log.txt 2>&1 &
	echo 'openESB started' >&2
    fi
}

d_stop (){
    get_pid
    if [ -f $LOGDIR/log.txt ]
    then
	kill `cat $PIDFILE`
	mv $LOGDIR/log.txt $LOGDIR/`date +"%F.%T" | tr : -`.txt 2>/dev/null
	echo 'stopped openESB' >&2
    else
	echo 'openESB is not running' >&2
    fi
}

d_status(){
    pid=0
    pid=$pid`ps aux | grep bootstrap | grep openesb | awk '{print $2}'`
    if [ $pid -ge 1 ]
    then
	echo "openESB is running" >&2
    else
	echo "openESB is not running" >&2
	exit 1
    fi
}

case "$1" in
    start)
        d_start
	;;
    stop)
        d_stop
	;;
    status)
	d_status
	;;
    *)
	echo "choose start|stop|status"
	exit 1
esac

exit 0
}
