#!/bin/sh
### BEGIN INIT INFO
# Provides:          openesb
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Should-Start:      openesb
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
### END INIT INFO
export JAVA_OPTS="$JAVA_OPTS -Djava.rmi.server.hostname=<%=Facter.value('ipaddress_'+@iface)%>" #Openesb

OPENESB="/var/lib/openesb/bin"
PIDFILE="/var/run/openesb.pid"
LOGDIR="/var/lib/openesb/logs"

. /lib/lsb/init-functions

get_pid() {
    ps aux | grep bootstrap | grep openesb | awk '{print $2}' > $PIDFILE 2>&1
}

d_start() {
    if [ -f $PIDFILE ]
    then
	log_daemon_msg "OpenESB is already running"
	log_end_msg 0
    else
	mv $LOGDIR/log.txt $LOGDIR/logs/`date +"%F.%T" | tr : -`.txt 2>/dev/null
	if start-stop-daemon --start --quiet --oknodo --make-pidfile --pidfile $PIDFILE --background --exec /bin/bash -- -c "$OPENESB/openesb.sh > $LOGDIR/log.txt 2>&1"
	then
	log_daemon_msg "OpenESB started"
	log_end_msg 0
	else
	log_daemon_msg "Couldn't start openESB"
	log_end_msg 1
    fi
    fi
}

d_stop (){
    get_pid
    start-stop-daemon --stop --quiet --pidfile $PIDFILE
    rm $PIDFILE
    log_daemon_msg "Stopping openESB"
    log_end_msg 0
}

d_status(){
    pid=0
    pid=$pid`ps aux | grep bootstrap | grep openesb | awk '{print $2}'`
    if [ $pid -ge 1 ]
    then
	echo "OpenESB is running" >&2
    else
	echo "OpenESB is not running" >&2
	 if [ -f $PIDFILE ]
    then
	rm $PIDFILE
	fi
	exit 3
    fi
}

case "$1" in
    start)
        d_start
	;;
    stop)
        d_stop
	;;
    status)
	d_status
	;;
    *)
	echo "choose start|stop|status"
	exit 1
esac

exit 0
}
