#!/bin/sh
### BEGIN INIT INFO
# Provides:          openesb
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Should-Start:      openesb
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
### END INIT INFO
export JAVA_OPTS="$JAVA_OPTS -Djava.rmi.server.hostname= <%=Facter.value('ipaddress_'+@iface)%>" #Openesb

OPENESB="/var/lib/openesb/bin"
PIDFILE="/var/run/openesb.pid"
LOGDIR="/var/lib/openesb/logs"

get_pid() {
    ps -aux | grep bootstrap | grep openesb | awk '{print $2}' > $PIDFILE 2>&1
}

d_start() {
    get_pid
    TAILLE=$(stat $PIDFILE -c %s)
    if [ $TAILLE != 1 ]
    then
	echo "openESB is already running" >&2
    else
	nohup su -c "/bin/sh $OPENESB/openesb.sh " - openesb  > $LOGDIR/log.txt &
    fi
}

d_stop (){
    get_pid
    PID=$(cat $PIDFILE)
    TAILLE=$(stat $PIDFILE -c %s)
    if [ $TAILLE != 1 ]
    then
	kill -9 $PID
	mv $LOGDIR/log.txt $LOGDIR/`date +"%F.%T" | tr : -`.txt 2>/dev/null
    fi
    echo "Stopped OpenESB" >&2
}

d_status(){
    get_pid
    TAILLE=$(stat $PIDFILE -c %s)
    if [ $TAILLE != 1 ]
    then
	echo "OpenESB is running" >&2
    else
	echo "OpenESB is not running" >&2
	exit 3
    fi
}

case "$1" in
    start)
        d_start
	;;
    stop)
        d_stop
	;;
    status)
	d_status
	;;
    *)
	echo "choose start|stop|status"
	exit 1
esac

exit 0
}
