NmrThreadPoolSize=<%= @nmrthreadpoolsize %>
NmrMaxThreadPoolSize=<%= @nmrmaxthreadpoolsize %>
DefaultHttpListenerPort=<%= @defaulthttplistenerport %>
DefaultHttpListenerThreads=<%= @defaulthttplistenerthreads %>
DefaultHttpsListenerPort=<%= @defaulthttpslistenerport %>
DefaultHttpsListenerThreads=<%= @defaulthttpslistenerthreads %>
TruststorePassword=<%= @truststorepassword %>
KeystorePassword=<%= @keystorepassword %>
EnableHostnameVerifier=<%= @enablehostnameverifier %>