PollerCount=<%= @pollercount %>
QuartzThreadCount=<%= @quartzthreadcount %>
UseQuartzRAMJobStore=<%= @usequartzramjobstore %>
<% if ( @quartzpersistentjobstore != "") then %>
QuartzPersistentJobStoreJNDIURL=<%= @quartzpersistentjobstore %>
<% end %>