create user esb_bpelse_owner with
    password 'se#passwd#bpel';

create tablespace esb_bpelse_space
    owner esb_bpelse_owner
    location '<%= @tablespacedir %>bpelse';

create database esb_bpelse_db with
    owner esb_bpelse_owner
    tablespace esb_bpelse_space
    template template0;

\c esb_bpelse_db

create schema esb_bpelse_owner AUTHORIZATION esb_bpelse_owner;